<h1 id="title">Person</h1>
<h2 id="fullName">{{model.fullName}}</h2>
<img src="{{model.avatar}}"/>
<h3 id="friends">Friends</h3>

<button {{action 'toggleFriendsShown'}} class="btn btn-default">Show Friends</button>
{{#if areFriendsShown}}
<ul>
	{{#each model.friends as |friend|}}
	<li>{{friend.fullName}}</li>
	{{/each}}
</ul>
{{/if}}
{{outlet}}
